@page
@model ColoursWeb.Pages.ConfigModel
@{
    ViewData["Title"] = "Colour Config";
}

<div class="container-fluid">

    <h4>Config</h4>
    @using (Html.BeginForm())
    {
        <span>API URL:</span>
        <input size="50" asp-for="APIUrl" /><br /><br />
        <span>API Mode:</span>
        <input type="checkbox" asp-for="APIMode"  />  <span>&nbsp;Check to call API direct, otherwise call will be made via frontend</span>  <br /><br />
        <input type="submit" id="Submit" value="Submit">
    }

    <br /><br />

</div>

